# 빌드 아티팩트 제외
build/
.gradle/
.idea/

# 환경 파일 및 민감한 정보 제외
.env

# Git 관련 파일 제외
.git
.gitignore

# 컴파일된 클래스 파일 제외
**/*.class

# 로그 파일 제외
*.log

# 임시 파일 및 디렉토리 제외
tmp/
*.tmp

# Gradle 캐시 디렉토리 제외
.gradle/
.gradle-cache/
